.theme1{
    color:chartreuse;
    background-color:bisque;
    font-size: 20px;

}
.theme2{
    color:darkgoldenrod;
    background-color: color-mix(200,199,160 );
    font-size: 20px;
}
.theme3{
    color: gold;
    background-color: brown;
    font-size: 20px;
    border-style: dotted;
}
.theme4{
    color:black;
    background-color: antiquewhite;
    font-size: 20px;

}